<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Kodinger">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="css/my-login.css">
</head>

<body class="my-login-page">
    <section class="">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="img/logo.jpg" alt="bootstrap 4 login page">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">ይመዝገቡ</h4>
                            <form method="POST" class="my-login-validation" novalidate="">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="username" class=" form-label">ስም</label>
                                    <input id="username" type="text" class="form-control" name="username" required
                                        autofocus>
                                    <div class="invalid-feedback">
                                        ስምዎን ያስገቡ
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="phone" class=" form-label">ስልክ ቁጥር</label>
                                    <input id="phone" type="text" class="form-control" name="phone" required>
                                </div>

                                <div class="mb-3">
                                    <label for="password1" class=" form-label">የይለፍ ቃል</label>
                                    <input id="password1" type="password" class="form-control" name="password1" required
                                        data-eye>
                                    <div class="invalid-feedback">
                                        የይለፍ ቃል ያስገቡ
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="password2" class=" form-label">የይለፍ ቃል</label>
                                    <input id="password2" type="password" class="form-control" name="password2" required
                                        data-eye>
                                    <div class="invalid-feedback">
                                        የይለፍ ቃል ያስገቡ
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" name="agree" id="agree" class="custom-control-input"
                                            required="">
                                        <label for="agree" class="custom-control-label">I agree to the <a href="#">Terms
                                                and Conditions</a></label>
                                        <div class="invalid-feedback">
                                            You must agree with our Terms and Conditions
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3 d-grid gap-2">
                                    <button type="submit" class="btn btn-primary">
                                        መዝግብ
                                    </button>
                                </div>
                                <div class=" mt-4 text-center ">
                                    አካውንት አሎት? <a href="login.html ">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="footer ">
                        Copyright &copy; 2014 &mdash; መንፈሳዊ መጽሓፍት
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script> -->
    <!-- <script src="js/my-login.js "></script> -->
</body>

</html>