<!DOCTYPE html>{% load static %}
<html>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>የመጽሓፉዝርዝር</title>
    <!-- Google font -->


    <!-- Bootstrap -->

    <link type="text/css" rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}" />


    <link type="text/css" rel="stylesheet" href=" {% static 'css/slick.css' %}" />
    <!-- <link type="text/css" rel="stylesheet" href=" {% static 'css/slick-theme.css' %}" /> -->

    <!-- Custom stlylesheet -->

    <!-- <link rel="stylesheet" href=" {% static 'css/main.css' %}"> -->
    <link rel="stylesheet" href=" {% static 'css/style2.css' %}">
    <link type="text/css" rel="stylesheet" href=" {% static 'css/style.css' %}" />
    <link type="text/css" rel="stylesheet" href=" {% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'js/swiper-bundle.min.css' %}" />




    <style>
        a {
            text-decoration: none;
        }
    </style>
<link rel="icon" href="{% static 'img/logoo.png' %}"></head>
<!-- header section starts  -->
<!-- header section starts  -->
<header class="header">

    <div class="header-1">

        <a href="{% url 'home' %}" class="logo"> <img src="{% static 'img/logoo.png' %}" width="50vw" /> መንፈሳዊ-<span
                style="color:#228B22;">መጻሕፍት</a>
        <form action="/books" name="filterForm" class="search-form">
            <input type="search" name="q" placeholder="መጻሕፍትን ፈልግ" id="search-box">
            <label for="search-box"><button type="submit" class="fas fa-search"></button></label>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="{% url 'cart' %}" class="fas fa-shopping-cart"></a>
            <a href="{% url 'edit-profile' %}" id="login-btn" class="fas fa-user"></a>
            {% if perms.app_name %}
            <a href="{% url 'admin-orders' %}" class="fas fa-users-cog"></a>
            {% endif %}
        </div>
    </div>
    <div class="header-2">
        <nav class="navbar">
            <a href="{% url 'books' %}">መጻሕፍት</a>
            <a href="{% url 'books' %}#packages">የመጻሕፍት ጥቅል</a>
            <!-- <a href="{% url 'equb-user' %}">እቁብ</a> -->
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="fas fa-sign-out-alt"></a>
            {% else %}
            <a href="{% url 'login' %}">Login | Register</a>
            {% endif %}
        </nav>
    </div>
</header>

<!-- header section ends -->

<!-- bottom navbar  -->
<nav class="bottom-navbar">
    <a href="{% url 'home' %}" class="fas fa-home"></a>
    <a href="{% url 'books' %}" class="fas fa-book">&nbsp;መጻሓፍት</a>

    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}" class="fas fa-sign-out-alt">&nbsp;Logout</a>
    {% else %};
    <a href="{% url 'login' %}" class="" id="close-login-btn" style="font-family:sans-serif;">&nbsp;Login</a>
    {% endif %}
   
</nav>
<!-- login form  -->

<!-- login form  -->

    <div id="close-login-btn"></div>


<!-- login form  -->

<!-- header section ends -->

<!-- bottom navbar  -->

<!-- login form  -->


<body>


    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <div class="product-preview">
                            <img src="{{book.image_front.url}}" alt="book-image">

                        </div>

                        <div class="product-preview">
                            <img src="{{book.image_back.url}}" alt="book-image">
                        </div>
                    </div>
                </div>
                <!-- /Product main img -->

                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs">
                        <div class="product-preview">
                            <img src="{{book.image_front.url}}" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="{{book.image_back.url}}" alt="">
                        </div>
                    </div>
                </div>
                <!-- /Product thumb imgs -->

                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        {% if perms.app_name %}
                        <a href="../../admin/base/book/{{book.id}}">EDIT BOOK</a>
                        <br><br>
                        {% endif %}
                        <p class="book-id" hidden>{{book.id}}</p>
                        <p class="count" hidden>{{book.count}}</p>
                        <input type="text" class="package" value="false" hidden>

                        <h2 class=" product-name">{{book.title}}</h2>
                        <div>
                            <p class="product-category">በ {{book.author}}</p>
                            <p class="product-category">የገጽ ብዛት፡ {{book.pages}}</p>
                            <ul class="product-links">
                                <li>መደብ:</li>
                                {% for cat in cats %}
                                <li>
                                    <p>{{cat}}፣</p>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div>
                            <h3 class="product-price">{{book.price}} ብር <del class="product-old-price">{{book.oldprice}}
                                    ብር</del></h3>
                        </div>
                        <p>{{book.description}} </p>
                        <!-- <p>ብዛት፡ <input type="number" class="quantity" step="1" min="1" max="{{book.count}}" value="1"></p> -->

                        <br>
                        <div class="add-to-cart">
                            <!-- this button will redirect to shoping cart after being added to the cart -->
                            <a href=" {% url 'cart' %}"> <button class="add-to-cart-btn"><i
                                        class="fa fa-shopping-cart"></i>ወደ ዘንቢሎ
                                    ይጨምሩ</button></a>

                        </div>
                        <div>
                            <h5>ይህንን መጽሐፍ ያጋሩ</h5>
                            <a onclick="Share.facebook('{{book.id}}')"><i class="fab fa-facebook-f fa-2x"
                                    style="color:#3b5998;"></i></a>&nbsp;&nbsp;
                            <a onclick="Share.twitter('{{book.id}}')"> <i class="fab fa-twitter fa-2x"
                                    style="color:rgb(0, 172, 238);"></i></a>&nbsp;&nbsp;
                            <a onclick="Share.telegram('{{book.id}}')"> <i class="fab fa-telegram fa-2x"
                                    style="color: #229ED9"></i></a>&nbsp;&nbsp;
                        </div>
                     
                    </div>
                </div>
                <!-- /Product details -->

                <div class="col-md-12">

                    <br><br><br>
                    <h2>አስተያየቶች</h2>
                    <div class="row">
                        <!-- Reviews -->
                        <div>
                            <div id="reviews">
                                <ul class="reviews" style="display:flex ; flex-wrap: wrap;">
                                    {% for coment in page.object_list %}
                                    <li>
                                        <div class="review-heading">
                                            <h5 class="name">{{coment.member.user.username}}</h5>
                                            <p class="date">{{coment.created}}</p>
                                        </div>
                                        <div class="review-body">
                                            <p>{{coment.አስተያየት}}</p>
                                        </div>
                                        {% if request.user.username == coment.member.user.username %}
                                        <div style="position: absolute; top:0; right:-22px;">
                                            <form method="POST" action="{% url 'delete_comment' coment.id %}">
                                                {% csrf_token %}
                                                
                                    <button type="submit" style="background-color:transparent; border:none;"><i class="fa fa-trash"></i></button>                                            </form>
                                        </div class="reviews-pagination">
                                        {% endif %} {% empty %} &nbsp; &nbsp; &nbsp; &nbsp;ምንም አስተያየቶች አአልተፃፉም
                                    </li>
                                    {% endfor %}
                                    <div style="float:right;">
                                        {% if page.has_previous %}
                                        <a href=" {% url 'book_detail' book.id %}?page={{ page.previous_page_number }}"><i
                                                class="fa fa-arrow-left"></i> ተመለስ</a> {% endif %} &nbsp; &nbsp; 
                                                {% if page.has_next %}
                                        <a href="{% url 'book_detail' book.id %}?page={{ page.next_page_number }}">ተጨማሪ
                                            አስተያየቶቸ <i class="fa fa-arrow-right"></i></a> 
                                            {% endif %}
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Reviews -->
                    <br>
                    <!-- Review Form -->
                    <h3>የዚህን መጽሐፍ ምልከታ ያስቀምጡ</h3>
                    <form action="/create-rating/{{ book.id }}" method="post">
                        {% csrf_token %}

                    {% if rated %} <input type="hidden" value="{{rated}}" id="fromBackend">{% else %} <input type="hidden" value="1" id="fromBackend"> {% endif %}
                    <div class="stars" style="zoom: 2; padding-left: 5%;">
                  
                            <i class="fa fa-star" id= "star1" onclick="rate(1)" style="color:#27ae60;"></i>
                            <i class="fa fa-star-o" id= "star2" onclick="rate(2)" style="color:#27ae60;"></i>
                            <i class="fa fa-star-o" id= "star3" onclick="rate(3)" style="color:#27ae60;"></i>
                            <i class="fa fa-star-o" id= "star4" onclick="rate(4)" style="color:#27ae60;"></i>
                            <i class="fa fa-star-o" id= "star5" onclick="rate(5)" style="color:#27ae60;"></i>
                            <input name="rating" id = "rate_number" type="hidden" value="5">
                            
                            <button class="btn-primary" style ="padding: 5px; margin-left: 6px; zoom: 0.7; border-radius: 10px; background-color: #27ae60; ">Rate</button>
                    </div>
                    <script>
                        rate_from_backend = document.getElementById("fromBackend")
                        rate(rate_from_backend.value)
                        
                        function rate(a) {
                            console.log("called")
                            rating = document.getElementById('rate_number')
                            rating.value = a;
                            console.log(rating.value)

                            for (let index= a + 1; index <= 5 ; index++) {
                                // console.log(index)
                                elem = document.getElementById('star'+index.toString()) 
                                elem.className = 'fa fa-star-o'

                                // console.log(elem)                             
                            }
                            for (; a > 0; a--){
                                elem = document.getElementById('star' + a.toString())
                                // console.log(elem) 
                                elem.className = 'fa fa-star'
                                
                            }

                        }

                            
                            

                    </script>
                    
                </form>
                    <div class="row">
                        <div id="review-form">
                            <form method="POST" class="review-form">
                                {% csrf_token %} {{comment_form.as_p}}
                                <input type="submit" class="primary-btn" value="አስገባ">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Review Form -->
            </div>
        </div>

    </div>
<section class="featured" id="featured">

    <h1 class="heading"> <span>ተያያዥ መጻሕፍት</span> </h1>

    <div class="swiper featured-slider">

        <div class="swiper-wrapper">
            {% for book in related_books %}
            <a href="{% url 'book_detail' book.id %}">
                <div class="swiper-slide box">

                    <div class="image">
                        <img src={{book.image_front.url}} alt="">
                    </div>
                    <div class="content">
                        <h3>{{book.title}}</h3>
                        <div class="stars">

                            {% if book.rating_sum|rating_ratio:book.rating_count >= 0.2 %}<i class="fas fa-star"
                                style="color: #228B22;"> </i>
                            {% else %} <i class="fas fa-star" style="color: rgb(192, 189, 189);"> </i> {% endif %}

                            {% if book.rating_sum|rating_ratio:book.rating_count >= 0.4 %}<i class="fas fa-star"
                                style="color: #228B22;"> </i>
                            {% else %} <i class="fas fa-star" style="color: rgb(192, 189, 189);"> </i> {% endif %}

                            {% if book.rating_sum|rating_ratio:book.rating_count >= 0.6 %}<i class="fas fa-star"
                                style="color: #228B22;"> </i>
                            {% else %} <i class="fas fa-star" style="color: rgb(192, 189, 189);"> </i> {% endif %}

                            {% if book.rating_sum|rating_ratio:book.rating_count >= 0.8 %}<i class="fas fa-star"
                                style="color: #228B22;"> </i>
                            {% else %} <i class="fas fa-star" style="color: rgb(192, 189, 189);"> </i> {% endif %}

                            {% if book.rating_sum|rating_ratio:book.rating_count >= 1 %}<i class="fas fa-star"
                                style="color: #228B22;"> </i>
                            {% else %} <i class="fas fa-star" style="color: rgb(192, 189, 189);"> </i> {% endif %}
                        </div>
                        <div class="price"> {{book.price}} ብር <span> {{book.oldprice}} ብር</span></div>


                        <a href="{% url 'book_detail' book.id %}" class="btn">ይመልከቱ</a>
                    </div>
                </div>
            </a>
            {% endfor %}


        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/add_to_cart.js' %}" async></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/main_y.js' %}"></script>
    <script src="{% static 'js/script2.js' %} "></script>
    <script src="{% static 'js/share.js' %}"></script>
    <script src="{% static 'js/fontawsome.js' %}"></script>
    
    <script>

    </script>




</body>
<footer class="footer-distributed" style="background-image: linear-gradient(to top, #caffca , white)">
    <div class="footer-left">
        <img src="{% static 'img/logoo.png' %}" alt="" width="200vw">
        <h3>መንፈሳዊ-<span>መጻሕፍት</span></h3>


        <p class="footer-company-name">መንፈሳዊ መጻሕፍት © 2014</p>
    </div>

    <div class="footer-center">

        <div>
            <i style="background-color: transparent;" class="fas fa-map-marker"></i>
            <p><span>5 ኪሎ ሸዋ ዳቦ ፊት ለፊት</span> አዲስ አበባ, ኢትዮጵያ </p>
        </div>

        <div>
            <i style="background-color: transparent;" class="fas fa-phone"></i>
            <p>+251 925 421 700</p>
        </div>

        <div>
            <i class="fas fa-envelope" style="background-color: transparent;"></i>
            <p><a href="mailto:orthokiha@gmail.com">orthokiha@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">


        <div class="footer-icons" style="zoom: 1.6;">
            <a style="background-color: transparent;" href="#"><i class="fab fa-facebook"></i></a>
            <a style="background-color: transparent;" href="https://www.t.me/BetMetsahfte"><i
                    class="fab fa-telegram"></i></a>


        </div>

    </div>
</footer>

</html>